footer{
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #d5d1d1;
  padding: 2rem 50px;
  background-color: #000;
}

footer .footer-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width:768px){
  footer{
    padding: 1rem 30px;
  }

  .footer-wrapper #card1{
    order: 2;
  }
}

@media screen and (max-width:560px){
  footer .footer-wrapper{
    flex-direction: column;
  }
  footer .footer-wrapper p{
    padding-bottom: 0.7rem;
  }
}