header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 1000;
    border-bottom: 1px solid #1d3344;
    background-color: #fff;
}
header .navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navbar .active{
    border-bottom: 2px solid #e82129;
}
header .navbar li{
    list-style-type: none;
    margin: 0rem 1.3rem;
}
header .navbar li a{
    text-decoration: none;
    font-size: 1.1rem;
    color: #1d3344;
    font-weight: 500;
}
header .navbar li a:hover{
    transition: 1s ease;
    transition: all 1s ease;
    opacity: 0.6;
}
.cart-icon{
    list-style-type: none;
}
.cart-icon a{
    text-decoration: none;
    font-size: 1.1rem;
    color: #1d3344;
    font-weight: 500;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.5rem;
}
.logo img{
    border-radius:50%;
    height:50px;
    width:50px;
}

.hamburger{
    display: none;
}

@media screen and (max-width:768px){
    header .navbar{
        flex-direction: column;
        position: fixed;
        top: 5rem;
        background-color: #fff;
        padding: 1rem 0rem 1.5rem 0rem;
        width: 100%;
        left: -100%;
        height: 14rem;
        transition: 1s ease;
        transition: all 1s ease;
        align-items: flex-start;
        box-shadow: rgb(0, 0, 0.1) 0px 2px 5px 0px;
    }
    .navbar li a{
        font-size: 0.9rem;
        font-weight: 400;
    }
    header .active{
        left: 0rem;
    }

    .logo img{
        border-radius:50%;
        height: 40px;
        width: 40px;
    }

    .hamburger{
        display: block;
    }
    .hamburger span{
        font-size: 2rem;
        font-weight: 500;
    }
}